<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Social Network!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%# <div style="display: none" id="hideAll">&nbsp;</div>
    <script type="text/javascript">
      document.getElementById("hideAll").style.display = "block";
    </script>  %>
    <div class="container">
      <header class="header" style="padding-top: 15px">
        <%= if Coherence.current_user(@conn) do %>
          <nav role="navigation">
            <% email = Coherence.current_user(@conn).email %>
            <ul class="nav nav-pills pull-left selfChannel" style="margin-top: -1.7px" email="<%= email %>">
              <li><a href="/home">Home</a></li>
              <li><a href="/users">Friends</a></li>
              <li><a href="/news">News</a></li>
            </ul>
          </nav>
        <% end %>
        <ol class="breadcrumb text-right">
          <%= if Coherence.current_user(@conn) do %>
            <%= if @conn.assigns[:remembered] do %>
              <li style="color: red;">!!</li>
            <% end %>
          <% end %>
          <%= SocialNetwork.Coherence.ViewHelpers.coherence_links(@conn, :layout) %>
        </ol>
      </header>

      <p class="alert alert-info" role="alert" count="0"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert" count="0"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <%# <script type="text/javascript">
      window.onload = function(){ document.getElementById("hideAll").style.display = "none"; }
    </script>  %>
  </body>
</html>
